<%- include('partials/_header')%>
    <div class="container">
        <div class="row">
            <!--FORM-->
            <div class="col-md-5 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="/update/<%= task._id%>" method="POST">
                            <div class="form-group">
                                <input type="text" name="title" placeholder="Title" class="form-control" value="<%= task.title %>">
                            </div>
                            <div class="form-group">
                                <textarea name="description" cols="80" class="form-control" placeholder="Description"><%= task.description %></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/_footer')%>
